<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">Tixxit</a>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/tixx']">Seat selection</a>
        </li>
        <li>
          <a [routerLink]="['/wallet']">Wallet</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!authService.isLoggedIn()"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="authService.isLoggedIn()"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
