.free {
  border-radius: 18px;
  background: blue;
  height: 25px;
}

.resale {
  border-radius: 18px;
  background: green;
  height: 25px;
}

.selected {
  border-radius: 18px;
  background: red;
  height: 25px;
}

.sold {
  border-radius: 18px;
  background: lightgrey;
  height: 25px;
}

td {
  height: 25px;
}

td div {
  text-align: center;
  width: 23px;
}

td span {
  color: white;
}
table {
  counter-reset: rowNumber;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 30px;
}

.verified {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.bold {
  font-weight: 700;
}
